/.#init.el
/init.el~
/initFast.el~
/.mc-lists.el
/ac-comphist.dat
/auto-save-list/
/ede-projects.el
/elpa/
/eshell/
/github-theme.el
/ido.last
/notElpa/
/projectile-bookmarks.eld
/projectile.cache
/server/
/tramp
/yasnippet/
/url/
/.sx/
