/.#init.el
/init.el~
/initFast.el~
/.mc-lists.el
/ac-comphist.dat
/auto-save-list/
/ede-projects.el
/elpa/
/eshell/
/github-theme.el
/ido.last
/projectile-bookmarks.eld
/projectile.cache
/server/
/tramp
/yasnippet/
/url/
/.sx/
/.init.el.un~
/my-curr-computer.txt
/.tutor/
/my-curr-computer.txt~
/recentf
/places
/smex-items
/games/
/flycheck_init.el
/#init.el#
*.elc
/ido.last~
/.#ido.last
/bookmarks
