[submodule "notElpa/sallet"]
	path = notElpa/sallet
	url = https://github.com/tetracat/sallet
[submodule "notElpa/sunrise-commander"]
	path = notElpa/sunrise-commander
	url = git://github.com/escherdragon/sunrise-commander.git
[submodule "notElpa/swiper"]
	path = notElpa/swiper
	url = https://github.com/miketz/swiper
[submodule "notElpa/slime"]
	path = notElpa/slime
	url = https://github.com/slime/slime
[submodule "notElpa/mine/mor"]
	path = notElpa/mine/mor
	url = https://github.com/miketz/mor
[submodule "notElpa/Indium"]
	path = notElpa/Indium
	url = https://github.com/NicolasPetton/Indium
[submodule "notElpa/hyperspec"]
	path = notElpa/hyperspec
	url = https://github.com/miketz/hyperspec
[submodule "notElpa/selectrum"]
	path = notElpa/selectrum
	url = https://github.com/raxod502/selectrum
[submodule "notElpa/ctrlf"]
	path = notElpa/ctrlf
	url = https://github.com/raxod502/ctrlf
[submodule "notElpa/prescient.el"]
	path = notElpa/prescient.el
	url = https://github.com/raxod502/prescient.el
[submodule "notElpa/paredit"]
	path = notElpa/paredit
	url = https://mumble.net/~campbell/git/paredit.git
[submodule "notElpa/lispy"]
	path = notElpa/lispy
	url = https://github.com/miketz/lispy
[submodule "notElpa/evil-leader"]
	path = notElpa/evil-leader
	url = https://github.com/miketz/evil-leader
[submodule "notElpa/evil"]
	path = notElpa/evil
	url = https://github.com/miketz/evil
[submodule "notElpa/expand-region.el"]
	path = notElpa/expand-region.el
	url = https://github.com/miketz/expand-region.el
[submodule "notElpa/s.el"]
	path = notElpa/s.el
	url = https://github.com/miketz/s.el
[submodule "notElpa/f.el"]
	path = notElpa/f.el
	url = https://github.com/miketz/f.el
[submodule "notElpa/rg.el"]
	path = notElpa/rg.el
	url = https://github.com/miketz/rg.el
[submodule "notElpa/tide"]
	path = notElpa/tide
	url = https://github.com/miketz/tide
[submodule "notElpa/lsp-mode"]
	path = notElpa/lsp-mode
	url = https://github.com/miketz/lsp-mode
[submodule "notElpa/company-lsp"]
	path = notElpa/company-lsp
	url = https://github.com/miketz/company-lsp
