/.#init.el
/.mc-lists.el
/ac-comphist.dat
/auto-save-list/
/ede-projects.el
/elpa/
/eshell/
/ido.last
/.#ido.last
/projectile-bookmarks.eld
/projectile.cache
/server/
/tramp
/yasnippet/
/url/
/.sx/
/my-curr-computer.txt
/.tutor/
/recentf
/places
/smex-items
/games/
/flycheck_init.el
/#init.el#
*.elc
/bookmarks
/custom.el
/all-packages-autoloads.el
/nov-places
/offline.el
/notElpa/mine/offline.el
*.yas-compiled-snippets*
/transient/
/.lsp-session-v1
dump.pdmp
package-quickstart.el
# backup files
*~
/.cache/
# var folder used by prescient package
/var/
/dank-mode/
network-security.data
/projects
/eln-cache/
/eww-bookmarks
/multisession/
/tree-sitter/
/org-persist/
/tutorial/
/devdocs/