[submodule "notElpa/sallet"]
	path = notElpa/sallet
	url = https://github.com/tetracat/sallet
[submodule "notElpa/sunrise-commander"]
	path = notElpa/sunrise-commander
	url = git://github.com/escherdragon/sunrise-commander.git
[submodule "notElpa/swiper"]
	path = notElpa/swiper
	url = https://github.com/miketz/swiper
[submodule "notElpa/slime"]
	path = notElpa/slime
	url = https://github.com/slime/slime
[submodule "notElpa/mine/mor"]
	path = notElpa/mine/mor
	url = https://github.com/miketz/mor
[submodule "notElpa/Indium"]
	path = notElpa/Indium
	url = https://github.com/NicolasPetton/Indium
[submodule "notElpa/hyperspec"]
	path = notElpa/hyperspec
	url = https://github.com/miketz/hyperspec
[submodule "notElpa/selectrum"]
	path = notElpa/selectrum
	url = https://github.com/raxod502/selectrum
[submodule "notElpa/ctrlf"]
	path = notElpa/ctrlf
	url = https://github.com/raxod502/ctrlf
[submodule "notElpa/prescient.el"]
	path = notElpa/prescient.el
	url = https://github.com/raxod502/prescient.el
[submodule "notElpa/paredit"]
	path = notElpa/paredit
	url = https://mumble.net/~campbell/git/paredit.git
[submodule "notElpa/lispy"]
	path = notElpa/lispy
	url = https://github.com/miketz/lispy
[submodule "notElpa/evil-leader"]
	path = notElpa/evil-leader
	url = https://github.com/miketz/evil-leader
[submodule "notElpa/evil"]
	path = notElpa/evil
	url = https://github.com/miketz/evil
[submodule "notElpa/expand-region.el"]
	path = notElpa/expand-region.el
	url = https://github.com/miketz/expand-region.el
[submodule "notElpa/s.el"]
	path = notElpa/s.el
	url = https://github.com/miketz/s.el
[submodule "notElpa/f.el"]
	path = notElpa/f.el
	url = https://github.com/miketz/f.el
[submodule "notElpa/rg.el"]
	path = notElpa/rg.el
	url = https://github.com/miketz/rg.el
[submodule "notElpa/tide"]
	path = notElpa/tide
	url = https://github.com/miketz/tide
[submodule "notElpa/lsp-mode"]
	path = notElpa/lsp-mode
	url = https://github.com/miketz/lsp-mode
[submodule "notElpa/company-lsp"]
	path = notElpa/company-lsp
	url = https://github.com/miketz/company-lsp
[submodule "notElpa/company-mode"]
	path = notElpa/company-mode
	url = https://github.com/miketz/company-mode
[submodule "notElpa/web-completion-data"]
	path = notElpa/web-completion-data
	url = https://github.com/miketz/web-completion-data
[submodule "notElpa/company-web"]
	path = notElpa/company-web
	url = https://github.com/miketz/company-web
[submodule "notElpa/slime-company"]
	path = notElpa/slime-company
	url = https://github.com/miketz/slime-company
[submodule "notElpa/macrostep"]
	path = notElpa/macrostep
	url = https://github.com/miketz/macrostep
[submodule "notElpa/iedit"]
	path = notElpa/iedit
	url = https://github.com/miketz/iedit
[submodule "notElpa/leerzeichen.el"]
	path = notElpa/leerzeichen.el
	url = https://github.com/miketz/leerzeichen.el
[submodule "notElpa/elisp-bug-hunter"]
	path = notElpa/elisp-bug-hunter
	url = https://github.com/miketz/elisp-bug-hunter
[submodule "notElpa/hydra"]
	path = notElpa/hydra
	url = https://github.com/miketz/hydra
[submodule "notElpa/rainbow-delimiters"]
	path = notElpa/rainbow-delimiters
	url = https://github.com/miketz/rainbow-delimiters
[submodule "notElpa/eglot"]
	path = notElpa/eglot
	url = https://github.com/miketz/eglot
[submodule "notElpa/nyan-mode"]
	path = notElpa/nyan-mode
	url = https://github.com/miketz/nyan-mode
[submodule "notElpa/zoutline"]
	path = notElpa/zoutline
	url = https://github.com/miketz/zoutline
[submodule "notElpa/darkroom"]
	path = notElpa/darkroom
	url = https://github.com/miketz/darkroom
[submodule "notElpa/slime-volleyball"]
	path = notElpa/slime-volleyball
	url = https://github.com/miketz/slime-volleyball
[submodule "notElpa/elisp-slime-nav"]
	path = notElpa/elisp-slime-nav
	url = https://github.com/miketz/elisp-slime-nav
[submodule "notElpa/ace-link"]
	path = notElpa/ace-link
	url = https://github.com/miketz/ace-link
[submodule "notElpa/avy"]
	path = notElpa/avy
	url = https://github.com/miketz/avy
[submodule "notElpa/ace-window"]
	path = notElpa/ace-window
	url = https://github.com/miketz/ace-window
[submodule "notElpa/num3-mode"]
	path = notElpa/num3-mode
	url = https://github.com/miketz/num3-mode
[submodule "notElpa/smex"]
	path = notElpa/smex
	url = https://github.com/miketz/smex
[submodule "notElpa/smarttabs"]
	path = notElpa/smarttabs
	url = https://github.com/miketz/smarttabs
[submodule "notElpa/web-mode"]
	path = notElpa/web-mode
	url = https://github.com/miketz/web-mode
[submodule "notElpa/eros"]
	path = notElpa/eros
	url = https://github.com/miketz/eros
[submodule "notElpa/erc-hl-nicks"]
	path = notElpa/erc-hl-nicks
	url = https://github.com/miketz/erc-hl-nicks
[submodule "notElpa/rainbow-mode"]
	path = notElpa/rainbow-mode
	url = https://github.com/miketz/rainbow-mode
[submodule "notElpa/markdown-mode"]
	path = notElpa/markdown-mode
	url = https://github.com/miketz/markdown-mode
[submodule "notElpa/sx.el"]
	path = notElpa/sx.el
	url = https://github.com/miketz/sx.el
[submodule "notElpa/flx"]
	path = notElpa/flx
	url = https://github.com/miketz/flx
[submodule "notElpa/FlamesOfFreedom"]
	path = notElpa/FlamesOfFreedom
	url = https://github.com/wiz21b/FlamesOfFreedom
[submodule "notElpa/autothemer"]
	path = notElpa/autothemer
	url = https://github.com/miketz/autothemer
[submodule "notElpa/php-mode"]
	path = notElpa/php-mode
	url = https://github.com/miketz/php-mode
[submodule "notElpa/yaml-mode"]
	path = notElpa/yaml-mode
	url = https://github.com/miketz/yaml-mode
[submodule "notElpa/adoc-mode"]
	path = notElpa/adoc-mode
	url = https://github.com/miketz/adoc-mode
[submodule "notElpa/markup-faces"]
	path = notElpa/markup-faces
	url = https://github.com/miketz/markup-faces
